.layer {
  .articles {
    list-style: disc;
    margin-left: 2rem;
    font-size: 1.14rem;
    margin-top: 1rem;

    span {
      font-size: 0.875em;
      margin-left: 5px;
      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
  }

}


