

.unauth {
  position: relative;
  padding: 20px 16px;
  border: 1px solid #d4a72c66;
  border-radius: 6px;
  background-color: #fff8c5;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 36px;
}

.commit-item-layer {
  margin: 16px 0;
}

.commit-item {
  --avatarWidth: 40px;
  --arrow: 16px;
  --padding: var(--arrow);

  margin-left: calc(var(--avatarWidth) + var(--arrow));
  border: 1px solid #ececec;
  border-radius: 6px;

  .head {
    position: relative;
    height: var(--avatarWidth);
    box-sizing: border-box;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    
    .avatar {
      width: var(--avatarWidth);
      height: var(--avatarWidth);
      position: absolute;
      top: 0;
      right: 100%;
      margin-right: var(--arrow);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .body {
    padding: var(--arrow);
  }
}
