.layer {
  display: flex;
  --top: 30px;

  .main {
    padding: var(--top) 80px 30px 30px;
    background-color: #fff;
    flex: 1;
    max-width: 1200px;
  }  

  .right {
    --width: 240px;
    flex: none;
    width: var(--width);
    position: relative;
  }

  .bottom {
    color: #000;
  }
}