
html {
  --line-height: 1.8;
  --main-color: #076dd0;
  --vice-color: #159957;
  --link-color: #076dd0;
  --main-font-color: #333;
  --vice-font-color: #666;
  --background-color: #f7f7f7;
  --border-color: #ececec;
  --warn: #cf222e;
  --arrow: 16px;
  --radius: 6px;
  font-size: 14px;
}

@media screen and (max-width: 800px){
  html {
    font-size: 12px;
  }
}

.main-title {
  --font-size: 2rem;
  margin-bottom: 1.78rem;
  font-size: var(--font-size);
  padding-right: var(--marker-width);
  position: relative;

  span {
    float: right;
    line-height: calc(var(--line-height) * var(--font-size));

    &::before {
      content: '发布于';
    }
  }
}

.vice-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.desc {
  font-size: 1.14rem;
}

.vice-title,
.desc {
  margin-top: 1rem;
}

.marker {
  color: #555;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.wlink {
  text-decoration:none !important; 
  color: var(--link-color); 
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
  transition: color .3s ease;

  &:hover {
    color: var(--vice-color);
  }
}

*[disabled],
.disable {
  pointer-events: none !important;
  color: #6d6d6d;
}

button {
  &.cancel {
    background: none;
    color: var(--warn);
  }

  &.primary {
    background-color: var(--link-color);
    color: #fff;
  }
}