
html {
  --link-color: #076dd0;
  --main-font-color: #333;
  --vice-font-color: #666;
  --background-color: #f7f7f7;
  font-size: 14px;
}

@media screen and (max-width: 800px){
  html {
    font-size: 12px;
  }
}

.main-title {
  margin-bottom: 1.78rem;
  font-size: 2rem;

  span {
    float: right;
    max-width: 200px;
  }
}

.vice-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.desc {
  font-size: 1.14rem;
}

.vice-title,
.desc {
  margin-top: 1rem;
}

.marker {
  color: #555;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}

.wlink {
  text-decoration:none !important; 
  color: var(--link-color); 
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
  transition: color .3s ease;

  &:hover {
    color: #157b75;
  }
}