body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }  
body, button, input, select, textarea { 
  color: var(--vice-font-color);
  font-size: 14px;
  line-height: var(--line-height);
  font-family: 'Source Serif Pro',-apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  
h1, h2, h3, h4, h5, h6{ 
  font-size:100%; 
  color: var(--main-font-color); 
  font-weight: 400; 
  font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}  
address, cite, dfn, em, var { font-style:normal; }  
code, kbd, pre, samp { 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 }  
small{ font-size:12px; }  
ul, ol { list-style:none; }  
sup { vertical-align:text-top; }  
sub{ vertical-align:text-bottom; }  
legend { color:#000; }  
fieldset, img { border:0; }  
button, input, select, textarea { font-size:100%; }

div, header, body { box-sizing: border-box; }
body { background: var(--background-color); }

a:hover{ text-decoration: underline; }

a { text-decoration:none; color: var(--link-color); }  
