.title {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding-left: 27px;
}

.top-navs {
  --activeColor: #1a1a1a;
  font-size: 1.1em;

  > li {
    > span {
      color: #6d6d6d;
      padding-right: 7px;
      padding-left: 27px;
      font-weight: 700;
      line-height: 1.5;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 3em;

      i {
        display: inline-block;
        font-size: 0.8em;
        margin-left: 10px;
        line-height: 1em;
        display: none;
      }
    }

    &.active > span,
    > span:hover {
      color: var(--activeColor);
    }

    &.active > span > i {
      transform: rotateZ(180deg);
    }
  }
  
  span {
    transition: color .3s linear, font-weight .1s linear;
    cursor: pointer;
    display: inline-block;
  }
}


.child-navs {
  padding-left: 34px;
  font-size: 0.9em;

  span {
    position: relative;
    color: #1a1a1a;

    &:hover {
      color: #6d6d6d;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background-color: var(--link-color);
      margin-left: -20px;
      transition: width .1s linear;
    }
  }

  > li {
    margin-top: 5px;

    &:not(.active) > span {
      font-weight: 400;
    }

    &.active > span {
      font-weight: 700;
  
      &::before {
        width: 4px;
      }
    }
  }
}


.top-navs > li {
  > .child-navs {
    transition: all .2s ease;
    // overflow: hidden;
    // margin-left: -20px;
    padding-bottom: 10px;
  }

  &:not(.active) > .child-navs {
    // max-height: 0 !important;
    padding-bottom: 0;
  }
}