.title {
  margin-bottom: 1.78rem;
  font-size: 2rem;
}

.desc {
  font-size: 1.14rem;
}

.columns {
  margin-top: 2rem;
}

.navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--width);
  margin-top: var(--top);

  > div {
    padding-left: 80px;
  }
}