.slide {
  color: #fff;
  line-height: 30px;

  a {
    color: #fff;
    text-shadow: 0 1px #666;
    transition: color .3s;
    text-decoration: none;

    &:hover {
      color: #ccc;
    }
  }

  .portrait {
    --size: 160px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }

  .content {
    margin: 15px 10px;

    .introduce {
      h1 {
        font-weight: 400;
        font-size: 30px;
      }
    }

    .navs {
      margin-top: 15px;
    }
  }
}


@media screen and (max-width: 1000px){
  .slide {
    padding: 20px;

    .portrait {
      --pos-lt: 12px;
      --size: 56px;
      position: absolute;
      left: var(--pos-lt);
      top: var(--pos-lt);
    }

    .content {
      margin: 0;
      .introduce {
        text-align: center;
      }

      .navs {
        display: flex;
        justify-content: center;
        li {
          margin: 0 10px;
        }
      }
    }
    
  }
}