.reaction {
  display: inline-flex;
  align-items: center;
  color: var(--vice-font-color);
  transition: color .3s ease;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 1.7em;
  }

  svg {
    fill: currentColor;
    margin-right: 5px;
    margin-top: -5px;
    width: 2em !important;
    height: 2em !important;
  }

  &.active,
  &:hover {
    color: var(--link-color);
  }
}