.app {
  padding-left: 270px;
  
  .slide {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 270px;
    background-color: #155799;
    background-image: linear-gradient(120deg, #155799, #159957)
  }

}

.app1 {
  color: #fff;
}

.app2 {
  color: #fff;
}