.chat {
  --avatarWidth: 40px;

  margin-left: calc(var(--avatarWidth) + var(--arrow));
  border: 1px solid var(--border-color);
  border-radius: var(--radius);

  .head {
    height: var(--avatarWidth);
    box-sizing: border-box;
    padding: 0 var(--padding);
    background-color: var(--background-color);
    
    .avatar {
      position: absolute;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    span {
      font-size: 0.8em;
    }
  }

  .body {
    padding: var(--padding);
  }
}

.commit-item {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .time {
      margin-right: 10px;
    }
    
    .oper {
      display: flex;
      align-items: center;
    }
  }

  .body {
    font-size: 1rem;
    max-height: 600px;
    overflow-y: auto;

    h2, h3 {
      margin-top: 1em;
    }

    > *:first-child {
      margin-top: 0;
    }

    pre > code {
      font-size: 1em;
    }
  }

  .reactions {
    padding-top: var(--padding);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }
}

.commit-item-layer {
  &:not(:first-child) {
    margin-top: 2rem;
  }
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px){
  .chat {
    margin-left: 0;

    .head {
      --imgWidth: calc(var(--avatarWidth) * 0.8);
      --paddingLeft: calc(var(--padding) / 2);
      position: relative;
      padding-left: calc(var(--paddingLeft) + var(--imgWidth) + 10px);
      
      .avatar {
        width: var(--imgWidth);
        height: var(--imgWidth);
        left: var(--paddingLeft);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .md-edit .head .avatar {
    display: none;
  }
}
@media screen and (min-width: 801px){
  .chat {
    margin-left: calc(var(--avatarWidth) + var(--arrow));

    .head {
      position: relative;
      
      &::after,
      &::before {
        content: '';
        position: absolute;
        right: 100%;
        height: var(--arrow);
        width: calc(var(--arrow) / 2);
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        background-color: var(--border-color);
      }

      &::after {
        background-color: var(--background-color);
        margin-right: -3px;
      }

      .avatar {
        top: 0;
        right: 100%;
        width: var(--avatarWidth);
        height: var(--avatarWidth);
        margin-right: var(--arrow);
      }
    }
  }
}


.md-edit {
  --padding: 8px;

  .head {
    padding-left: var(--padding);
  }

  .mode-tabs {
    padding-top: var(--padding);
    height: 100%;
    span {
      display: inline-flex;
      padding: 0 15px;
      height: 100%;
      align-items: center;
      margin-right: 5px;
      cursor: pointer;
      color: var(--vice-font-color);
      transition: color .3s linear;

      &.active {
        background-color: #fff;
        cursor: initial;
        color: var(--main-font-color);
        border: 1px solid var(--border-color);
        border-bottom: none;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
      }

      &:not(.active):hover {
        color: var(--main-font-color);
      }
    }
  }

  .input {
    display: block;
    width: 100%;
    height: 200px;
  }
}

.btns {
  overflow: hidden;
  margin-top: var(--padding);

  button {
    padding: 5px 16px;
    float: right;
    border-radius: var(--radius);
    border: none;
    margin-left: 10px;

    &[disabled] {
      opacity: .7;
    }
    &:not([disabled]) {
      cursor: pointer;
    }
  }
}

.un-comments {
  text-align: center;
}